label {
    display: inline-block;
}

input[type="checkbox"] {
    vertical-align: middle;
    float: right;
    text-align: center;
    width: 50px;
}

.ga-chakra-switch{
    vertical-align: middle;
    float: right;
    text-align: center;
    width: 50px;
}


.ga-strategy-div {
    display: flex;
}

.ga-strategy-label {
    float: left;
    text-align: center;
}

input[type="radio"] {
    width: 100px;
}