.gainfo-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 600px;
    margin: 100px auto;    
  }
  
.gainfo-one {
    grid-column: 1 / 4;
    grid-row: 1;
    align-items: left;
    justify-content: center;
    display: flex;
    }

.gainfo-two {
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    display: flex;
}