.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  width: 600px;
  margin: 100px auto;    
}

.one {
  grid-column: 1 / 4;
  grid-row: 1;
}

.two {
  grid-column: 1;
  grid-row: 2;
  align-items: center;
  justify-content: center;
  display: flex;
}

.twoExpanded {
  grid-column: 1 / 4;
  grid-row: 2;
}

.three {
  grid-column: 2;
  grid-row: 2;
  align-items: center;
  justify-content: center;
  display: flex;
}

.four {
  grid-column: 3;
  grid-row: 2;
  align-items: center;
  justify-content: center;
  display: flex;
}

.five {
  grid-column: 1 / 4;
  grid-row: 3;  
  border : 1px solid #d3d3e3;
  padding-left: 5px;
}

.six {
  grid-column: 1 / 4;
  grid-row: 4;  
  border : 1px solid #d3d3e3;
  padding-left: 5px;
}